@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style-type: none;
    outline: none !important;
    scroll-behavior: smooth;
}

li a{
    color: black;
}

li a:hover {
    color: #4CAF50;
}
body {
    font-family: "Poppins", sans-serif;
}

.section {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

p {
    font-family: "Poppins", sans-serif;
    font-size: 1.05rem; 
    font-weight: 400;
}

#booton  {
    outline: none !important;
    box-shadow: none;
    border: none !important;
    margin-right: 2rem;
}

.nav-item a:hover {
    color: #4CAF50 !important;
}

#logo {
    margin-left: 2rem;
}


#booton:focus {
    outline: none !important;
     box-shadow: none;
}

#booton i {
  color: black;
}
#hero {
    margin-top: 7rem;
}

#shakurimg {
    height: auto;
    width: 100%;
}


@media (max-width: 768px) {
 #quote,
 #quotep {
    text-align: center;
 }
}

#about {
    margin-top: 7rem !important;
}

#cta {
   background-color: black;
   padding: 3rem 0;
}

.footerp {
    font-size: .98rem;
}
.social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 1px solid #fff;
    color: #fff;
    margin: 0.375rem;
}

footer {
  background-color: black;
  padding: 3rem 0;
}

footer h5, li a, i {
  color: #fff;
}


/*  Back to top   */
.scroll-btn {
  display: inline-block;
  color: #fff;
  background-color: black;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  bottom: 25px;
  right: 25px;
  transition: background-color .3s, 
  opacity .5s, visibility .5s;
  z-index: 5;
  display: none;
  border: none;
}

.scroll-btn:hover {
  cursor: pointer;
  background-color: #4CAF50;
}

.scroll-icon {
  width: 20px;
  height: auto;
}


#prev {
  visibility: hidden;
}

#entre {
  background-image: url(/images/pexels-olia-danilevich-8145352.webp) !important;
}


#ethics {
  background-image: url(/images/pexels-artempodrez-5726794.jpg);
}

#techtrends {
  background-image: url(/images/pexels-luis-gomes-166706-546819.jpg);
}

#real {
  background-image: url(/images/close-up-shot-caucasian-contractor-holding-real-estate-project-while-his-african-colleague-pointing-finger-scale-model-building-explaining-design-presentation-meeting-office.jpg);
}

#wallets {
  background-image: url(/images/3201279.jpg) !important;
}

#saas {
  background-image: url(/images/saas-concept-collage.jpg) !important;
}

#blockchain {
  background-image: url(/images/SL-0212121-40670-68.jpg) !important;
}

#aircraft {
  background-image: url(/images/control-table-spacecraft-from-inside.jpg) !important;
}

#education {
  background-image: url(/images/pexels-kindelmedia-7979758.jpg) !important;
}

#back {
  background-image: url(/images/pexels-freestockpro-2781814.jpg) !important;
}

#adventure {
  background-image: url(/images/pexels-tatianasyrikova-3933900.jpg);
}

#emerging {
  background-image: url(/images/pexels-pixabay-210607.jpg);
}

#rates {
  background-image: url(/images/pexels-rdne-8292880.jpg);
}

#teaching {
  background-image: url(/images/pexels-pixabay-159844.jpg);
}

#traveling {
  background-image: url(/images/pexels-dimekni-dimekni_photoghraphe-1227506385-27666635.jpg);
}

#psychology {
  background-image: url(/images/pexels-tima-miroshnichenko-6694482.jpg);
}

#foodie {
  background-image: url(/images/pexels-ahmet-cotur-776571149-27670192.jpg);
}

#gem {
  background-image: url(/images/pexels-mccutcheon-1147946.jpg);
}

#winning {
  background-image: url(/images/pexels-naimbic-3200222.jpg);
}

#risk {
  background-image: url(/images/pexels-cottonbro-6963306.jpg);
}
.masthead {
    margin-top: 4.8rem;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}


header.masthead {
    position: relative;
    margin-bottom: 3rem;
    padding-top: calc(8rem + 57px);
    padding-bottom: 8rem;
    background: no-repeat center center;
    background-color: #6c757d;
    background-size: cover;
    background-attachment: scroll;
    background-image: url(/images/pexels-olia-danilevich-8145352.jpg);
  }
  header.masthead:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #212529;
    opacity: 0.5;
  }
  header.masthead .page-heading,
  header.masthead .post-heading,
  header.masthead .site-heading {
    color: #fff;
  }
  header.masthead .page-heading,
  header.masthead .site-heading {
    text-align: center;
  }
  header.masthead .page-heading h1, header.masthead .page-heading .h1,
  header.masthead .site-heading h1,
  header.masthead .site-heading .h1 {
    font-size: 3rem;
  }
  header.masthead .page-heading .subheading,
  header.masthead .site-heading .subheading {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.1;
    display: block;
    margin-top: 0.625rem;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  header.masthead .post-heading h1, header.masthead .post-heading .h1 {
    font-size: 2.25rem;
  }
  header.masthead .post-heading .meta,
  header.masthead .post-heading .subheading {
    line-height: 1.1;
    display: block;
  }
  header.masthead .post-heading .subheading {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0.75rem 0 2rem;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  header.masthead .post-heading .meta {
    font-size: 1.25rem;
    font-weight: 300;
    font-style: italic;
    font-family: "Lora", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  header.masthead .post-heading .meta a {
    color: #fff;
  }
  @media (min-width: 992px) {
    header.masthead {
      padding-top: 12.5rem;
      padding-bottom: 12.5rem;
    }
    header.masthead .page-heading h1, header.masthead .page-heading .h1,
    header.masthead .site-heading h1,
    header.masthead .site-heading .h1 {
      font-size: 5rem;
    }
    header.masthead .post-heading h1, header.masthead .post-heading .h1 {
      font-size: 3.5rem;
    }
    header.masthead .post-heading .subheading {
      font-size: 1.875rem;
    }
  }


/*-------------------------------------       
        8.  Blog
--------------------------------------*/
  .blog {padding:80px 0;}

/*.single-blog*/
.single-blog{
    -webkit-transition: 0.3s linear; 
    -moz-transition: 0.3s linear; 
    -ms-transition: 0.3s linear; 
    -o-transition: 0.3s linear; 
    transition: 0.3s linear;
}
.single-blog-img{
    position: relative;
    overflow: hidden;
    -webkit-transition: 0.3s linear; 
    -moz-transition: 0.3s linear; 
    -ms-transition: 0.3s linear; 
    -o-transition: 0.3s linear; 
    transition: 0.3s linear;
}
.single-blog-img img{
    width:auto;
    height:auto;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
}
.single-blog:hover  img{
    -webkit-transform:scale(1.3);
    -moz-transform:scale(1.3);
    -ms-transform:scale(1.3);
    -o-transform:scale(1.3);
    transform:scale(1.3);
}
.single-blog-img-overlay{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* background: rgba(0,0,0,.3); */
    -webkit-transform:scale(0);
    -moz-transform:scale(0);
    -ms-transform:scale(0);
    -o-transform:scale(0);
    transform:scale(0);
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
}
.single-blog:hover .single-blog-img-overlay{
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
    transform:scale(1);
}
.single-blog-txt h2 a{text-transform: initial;margin: 0 0 15px 0;}
.single-blog-txt h3,.single-blog-txt h3 a {
    color: #bcb7b2;
    font-size: 14px;
    font-weight: 400;
}
.single-blog-txt h3 a {margin: 0;}
.single-blog-txt p {
    font-size: 13px;
    margin-top: 20px;
    color: #95908b;
}
.single-blog:hover .single-blog-txt h2 a{color: #e99c2e;}
/*.single-blog*/